{% extends 'home/layout.html' %}

{% block title %}
CodeShine
{% endblock %}

{% block body %}
<div class="container">
    <a href="{% url 'departments:index' assignment.In.Department.Code %}">
        << Go Back</a>

            {% if title %}
            <h1>{{ title }}</h1>
            {% endif %}

            {% if assignment.Description %}
            <p>{{ assignment.Description }}</p>
            {% endif %}
</div>
<br>



{% if assignment %}
<div class="container">
    <h2>Details</h2>
    <p>
        This is an assignment titled <u>{{ title }}</u>,
        posted by <u>{{ assignment.By.username|capfirst }}</u> Sir/Madam,
        in page <u>{{ assignment.In.Name }}</u>,
        on <u>{{ assignment.On }}</u>.
        Anyone from <u>{{ assignment.In.Department.Name }}</u> department
        can submit the assignment multiple times and is expected to
        gain at least <u>{{ assignment.passing_points }} points</u>
        or at most <u>{{ assignment.max_points }} points</u>.
        Following is the <u>instructions</u> regarding submissions admin
        results.
    </p>
    {% if assignment.Instructions %}
    <p>
    <details>
        <summary>instructions</summary>
        <h3>Instructions</h3>
        <div class="container render-markdown">
            <textarea class="render-markdown">{{ assignment.Instructions }}</textarea>

        </div>
    </details>
    </p>
    {% endif %}

    <p>
        The <u>Getting Started Template</u> is a starting point for solving.
        When you feel comfortable you can attempt and <u>submit</u> the assignment.
        Feel free to take your time as instructed.
    </p>


    {% if assignment.GettingStarted_Template %}
    <p>
    <details>
        <summary>template</summary>
        <h3>Getting Started Template</h3>
        <div class="container render-markdown">
            <textarea class="render-markdown">{{ assignment.GettingStarted_Template }}</textarea>
        </div>
    </details>
    </p>
    {% endif %}

    <p>
        Best of luck!
    </p>
</div>
<br>

<div class="container">
    <h2>Attempt for submission</h2>
    <form action="{% url 'codeshine:submit' page_code assignment_code %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        {{ field.label_tag }}
        {{ field }}
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</div>
<br>

{% if submissions %}
<div class="container">
    <h2>History</h2>
    <details open>
        <summary>my submission(s) > oldest first</summary>
        {% for submission in submissions %}
        <p>
            {{ submission.On }} |
            <a href="{% url 'codeshine:submission' page_code assignment_code submission.pk %}">Show</a>
        </p>
        {% endfor %}
    </details>
</div>

<br>
{% endif %}

{% if request.user.is_teacher %}
<div class="container">
    <h2>Results</h2>
    <a href="{% url 'codeshine:submissions' page_code assignment_code %}">> Show All Submissions</a>
    <br>
</div>
<br>
{% endif %}

<br>
{% else %}
<div class="container warning-container">
    <h1>Warning</h1>
    <p>No Assignment Details Available</p>
</div>
<br>
{% endif %}
{% endblock %}