{% extends 'home/layout.html' %}

{% block title %}
CodeShine Evaluate
{% endblock %}

{% block body %}
<div class="container">
    <a href="{% url 'codeshine:assignments' page_code assignment_code %}">
        << Go Back</a>
            {% if title %}
            <h1>Submissions for assignment {{ title }}</h1>
            {% endif %}

            {% if assignment.Description %}
            <p>{{ assignment.Description }}</p>
            {% endif %}
</div>

{% if submission_users and all_submissions and request.user.is_teacher %}
<div class="container warning-container">
    <h2>Pending Submissions' Evaluation</h2>
    {% for user, submissions in all_submissions %}
    <details open>
        <summary><u>{{ user.username|capfirst }}'s</u> Submission(s)</summary>
        <ul>
            {% for submission in submissions %}
            {% if submission.Points == 0 %}
            <li>
                <p>On {{ submission.On }}
                    | <a href="{% url 'codeshine:submission' page_code assignment_code submission.pk %}">Show</a>
                </p>
            </li>
            {% endif %}
            {% endfor %}
            </ol>
    </details>
    {% endfor %}
</div>
<div class="container">
    <h2>All Submissions</h2>
    {% for user, submissions in all_submissions %}
    <details open>
        <summary><u>{{ user.username|capfirst }}'s</u> Submission(s)</summary>
        <ol>
            {% for submission in submissions %}
            <li>
                <p>{{ index }} On {{ submission.On }}
                    {% if submission.Points > 0 %}
                        | {{ submission.Points }}/{{ assignment.max_points }}
                        ({% if submission.Points >= assignment.passing_points %}Passed
                        {% else %}Failure is a part of life
                        {% endif%})
                        | <a href="{% url 'codeshine:submission' page_code assignment_code submission.pk %}">Show</a>
                    {% else %}
                    | <a href="{% url 'codeshine:submission' page_code assignment_code submission.pk %}">Show</a>
                    {% endif %}
                </p>
            </li>
            {% endfor %}
        </ol>
    </details>
    {% endfor %}
</div>
{% else %}
<div class="container warning-container">
    <h1>Warning</h1>
    <p>No Submission Details Available</p>
</div>
{% endif %}
{% endblock %}