{% extends 'home/layout.html' %}

{% block title %}Unauthorized{% endblock %}
{% block body %}
<div class="container error-container">
    <br>
    <h1>401 Unauthorized</h1>
    <p>There may be one or more of the following reasons for this to happen</p>
    <ol>
        <li>You have wrongly typed the URL, or clicked on invalid URL, or did modification with it</li>
        <li>You have not logged into the site</li>
        <li>You have logged in, but before moving further, for security reasons, logged out</li>
    </ol>
    <p>
        <u>Return URL</u>: 
        if feels comfortable, can attempt to login or register Located on the navigation bar.
    </p>
    <br>
</div>

<div class="container message-container">
    <h1>Troubleshoot Details</h1>

    <p>
        <u>Solution</u>: following are the generic steps: (not necessarily applicable to all problems)<br>
    <ol>
        <li>Check your internet connection. Try restarting PC, Tablet, mobile, internet adapter etc.</li>
        <li>Check the URL, is it correct one?</li>
        <li>Refresh the page by pressing <code>CTRL + R</code> or refreshing after removing all temporary files like
            cache and cookies.</li>
        <li>If still not resolve, contact the support team.</li>
    </ol>
    </p>
</div>
{% endblock %}