{% extends 'home/layout.html' %}

{% block title %}Page Not Found{% endblock %}
{% block body %}
<div class="container error-container">
    <br>
    <h1>405 Method Not Allowed</h1>
    <p>There may be one or more of the following reasons for this to happen</p>
    <ol>
        <li>You are submitting a from, but the submission is closed</li>
        <li>You are submitting, when submission is not allowed</li>
        <li>You are submitting on a wrong route</li>
    </ol>
    <br>
</div>

<div class="container message-container">
    <h1>Troubleshoot Details</h1>

    <p>
        <u>Solution</u>: following are the generic steps: (not necessarily applicable to all problems)<br>
    <ol>
        <li>Check your internet connection. Try restarting PC, Tablet, mobile, internet adapter etc.</li>
        <li>Check the URL, is it correct one?</li>
        <li>Refresh the page by pressing <code>CTRL + R</code> or refreshing after removing all temporary files like
            cache and cookies.</li>
        <li>If still not resolve, contact the support team.</li>
    </ol>
    </p>
</div>
{% endblock %}