{% extends 'home/layout.html' %}

{% block title %}Details{% endblock %}
{% block body %}
<div class="container">

    <br>
    <h1>Deogiri Institute Of Engineering And Management Studies</h1>
    <br>

    <h2>Founded in 2009-10</h2>
    <p>In pursuance with the policies of the Government of India to start Engineering colleges in emerging technologies,
        Deogiri Institute of Engineering and Management Studies is established at Aurangabad during the academic year
        2009-10.</p>

    <p>Deogiri Institute of Engineering and Management Studies is affiliated to the Dr. Babasaheb Ambedkar Technological
        University, Lonere and is developed as per the norms of the All India Council of Technical Education
        (A.I.C.T.E.),
        Government of India.</p>

    <p>The Institute is consistently among the top institutes of Dr. B.A.M. University in examination results. The
        student-centric teaching learning environment, state of the art infrastructure, well-equipped laboratories,
        library
        stacked with good number of books, experienced and dedicated team of faculties are the key features of the
        Institute.</p>
    <br>

    <h2>Why Diems ?</h2>
    <ol>
        <li>Legacy of excellent academic results and placements since 2009</li>
        <li>Six months industrial training for final year students</li>
        <li>Minimum two industrial visits per semester</li>
        <li>Sponsored projects from industries</li>
        <li>More than 25 MOU’s with industries</li>
        <li>Industrial internship for industry exposure</li>
        <li>Safe and well disciplined campus</li>
        <li>Separate hostel facility for boys and girls in campus</li>
        <li>Total Placements 600+ in 2020-21</li>
    </ol>
    <br>
</div>

{% endblock %}