{% extends 'home/layout.html' %}

{% block title %}Login{% endblock %}
{% block body %}
{% if message %}
<h1>Messages</h1>
<li>{{ message }}</li>
{% endif %}
<h1>Login</h1>
<form action="{% url 'accounts:login' %}" method="post">
    {% csrf_token %}
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" autofocus autocomplete="off" placeholder="e.g. zaid">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </div>
    <input type="submit" value="Authenticate me">
</form>
{% endblock %}