{% extends 'home/layout.html' %}

{% block title %}
Department
{% endblock %}
{% block body %}
<div class="container">
    {% if title %}
    <h1>{{ title }}</h1>
    {% endif %}
</div>
<br>
{% if pages %}
{% for page in pages %}
<div class="container">
    <h2>{{ page.Name }} Page <small>({{ page.Code|lower }})</small>
    </h2>
    {% if request.user.is_teacher %}
    <a href="{% url 'codeshine:post' page.Code %}">+ Post assignment</a>
    {% endif %}

    {% if assignments %}
    <div class="postWrapper">
        {% for assignment in assignments %}
        {% if assignment.In == page %}
        <div class="post">
            <p>By {{ assignment.By.username|capfirst }}</p>
            <h3>
                {{ assignment.Title|upper }}
            </h3>
            {{ assignment.On }}
            <p><a href="{% url 'codeshine:assignments' page.Code assignment.pk %}">View</a>
                {% if assignment.Description %}
                | {{ assignment.Description }}
                {% endif %}
            </p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>
<br>
{% endfor %}
{% else %}
<div class="container warning-container">
    <h1>Warning</h1>
    <p>No Pages</p>
</div>
<br>
{% endif %}

{% if code %}
{% if request.user.is_teacher %}
<div class="container message-container">
    <h2><a href="{% url 'departments:add_page' code %}">+ Add Pages</a></h2>
</div>
<br>
{% endif %}
{% endif %}

{% endblock %}