{% extends 'home/layout.html' %}

{% block title %}
Department
{% endblock %}
{% block body %}
<div class="container">
    {% if title %}
    <h1>{{ title }}</h1>
    {% endif %}
</div>
{% if pages %}
{% for page in pages %}
<div class="container">
    <h2>{{ page.Name }} Page <small>({{ page.Code|lower }})</small>
    </h2>
    {% if request.user.is_teacher %}
    <a href="{% url 'codeshine:post' page.Code %}">+ Post assignment</a>
    {% endif %}

    {% if assignments %}
    {% for assignment in assignments %}
    {% if assignment.In == page %}
    <p>{{ assignment.On }} | By {{ assignment.By.username|capfirst }}</p>
    <div class="post">
        <div class="icon">
            <a href="{% url 'codeshine:assignments' page.Code assignment.pk %}">
                <p>>></p>
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
              </svg>
              <p>View</p>
            </a>
        </div>
        <div class="title">
            <h3>{{ assignment.Title|upper }}</h3>
            
        </div>
        <div class="description">
            <p>
                {% if assignment.Description %}
                <u>Description</u>: {{ assignment.Description }}
                {% else %}
                No Description
                {% endif %}
            </p>
        </div>
    </div>
    <br>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>
{% endfor %}
{% else %}
<div class="container warning-container">
    <h1>Warning</h1>
    <p>No Pages</p>
</div>
{% endif %}

{% if code and request.user.is_teacher%}
<div class="container warning-container">
    <h2>Add Page</h2>
    <form action="{% url 'departments:add_page' code %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        {{ field.label_tag }}
        {{ field }}
        {% endfor %}
        <input type="submit" value="Add Page">
    </form>
</div>
{% endif %}

{% endblock %}