{% extends 'home/layout.html' %}

{% block title %}
Department
{% endblock %}
{% block body %}
{% if title %}
<div class="container">
  <h1>{{ title }}</h1>
</div>
{% endif %}

<div class="container">
  {% if departments %}
  {% for department in departments %}
  <h3>[<a href="{% url 'departments:specific_department' department.Code %}">{{ department.Code|upper }}</a>]: {{ department.Name }}
    Department</h3>
  {% endfor %}
  {% else %}
  <li>No Departments</li>
  {% endif %}
  <div class="container warning-container">
    <h1>Add Department</h1>
    <form action="{% url 'departments:add_department' %}" method="post">
      {% csrf_token %}
      {% for field in form %}
      {{ field.label_tag }}
      {{ field }}
      {% endfor %}
      <input type="submit" value="Create Department">
    </form>
  </div>
</div>


{% endblock %}