@counter-style attempt {
  system: numeric;
  symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
  prefix: "Attempt "; }
@keyframes change-colors-h1 {
  0% {
    color: #1c7ea6; } }
@keyframes change-icon-color {
  0% {
    color: #98d5ee; } }
::-webkit-scrollbar {
  width: 0.5em; }

::-webkit-scrollbar-thumb {
  background-color: #ac9647; }

html {
  font-family: 'Comfortaa';
  font-size: 1em;
  overflow-wrap: break-word;
  line-height: 1.25em;
  font-weight: normal;
  min-height: 100vh; }
  html body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    overflow-y: scroll; }
    @media (min-width: 800px) {
      html body {
        height: 100vh;
        flex-direction: row;
        overflow-y: hidden; } }
    html body .background-image {
      background-image: url("https://cdn.pixabay.com/photo/2020/05/06/06/18/blue-5136251_960_720.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      opacity: 100%;
      z-index: -999;
      position: fixed;
      height: 100%;
      width: 100%; }
  html svg {
    vertical-align: text-bottom; }
  html .side-bar {
    display: flex;
    padding: 1em;
    color: #98d5ee;
    flex: 0 0 16em;
    flex-direction: column;
    background-color: #082530; }
    html .side-bar #di-logo {
      text-align: center;
      width: 10em;
      border-radius: 1em;
      box-shadow: 0em 0em 2em #33acdd;
      opacity: 80%; }
    @media (min-width: 800px) {
      html .side-bar {
        height: auto;
        overflow-y: scroll; } }
    html .side-bar h1 {
      margin: 0px;
      padding: 0px;
      font-family: 'Comfortaa';
      font-size: 3.25em;
      overflow-wrap: break-word;
      line-height: 1.25em;
      font-weight: normal;
      line-height: 1.05em;
      text-align: center; }
      @media (min-width: 800px) {
        html .side-bar h1 {
          text-align: left; } }
    html .side-bar h2 {
      margin: 0px;
      padding: 0px;
      color: #ecf7fc;
      text-align: center;
      line-height: 1.25em;
      font-family: 'Comfortaa';
      font-size: 1.125em;
      overflow-wrap: break-word;
      line-height: 1.25em;
      font-weight: normal; }
      @media (min-width: 800px) {
        html .side-bar h2 {
          text-align: left; } }
    html .side-bar a {
      margin: 0px;
      color: #ecf7fc;
      text-decoration: none;
      text-align: center;
      display: inline-block;
      border-radius: 3em;
      background-color: #135873;
      padding: 0.2em 0.5em;
      margin: 0.125em 0em;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 14em; }
      @media (min-width: 800px) {
        html .side-bar a {
          text-align: left; } }
    html .side-bar a:hover {
      color: white;
      text-decoration: underline solid; }
    html .side-bar p {
      margin: 0px;
      padding: 0px;
      font-family: 'Comfortaa';
      font-size: 1em;
      overflow-wrap: break-word;
      line-height: 1.25em;
      font-weight: normal;
      text-align: center;
      color: #ecf7fc;
      text-align: center;
      line-height: 1.35em; }
      @media (min-width: 800px) {
        html .side-bar p {
          text-align: left; } }
    html .side-bar u {
      color: #98d5ee;
      text-decoration: none;
      border-bottom: dotted 1px; }
    html .side-bar hr {
      display: block;
      border-color: #98d5ee; }
    html .side-bar .inline {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white; }
      @media (min-width: 800px) {
        html .side-bar .inline {
          justify-content: flex-start; } }
    html .side-bar details {
      text-align: center; }
      html .side-bar details summary {
        cursor: pointer;
        margin: 0px;
        color: #ecf7fc;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        border-radius: 3em;
        background-color: #ac9647;
        padding: 0.2em 0.5em;
        margin: 0.225em 0em 0.5em 0em;
        width: 14em; }
        @media (min-width: 800px) {
          html .side-bar details summary {
            text-align: left; } }
      html .side-bar details.for-laptop-only {
        display: none; }
      html .side-bar details.for-mobile-only {
        display: block; }
      @media (min-width: 800px) {
        html .side-bar details {
          text-align: left; }
          html .side-bar details.for-laptop-only {
            display: block; }
          html .side-bar details.for-mobile-only {
            display: none; } }
    html .side-bar .side-bar-body {
      display: block;
      text-align: center; }
      @media (min-width: 800px) {
        html .side-bar .side-bar-body {
          text-align: left; } }
  html .main-content {
    flex: 1 1 auto;
    text-align: center; }
    @media (min-width: 800px) {
      html .main-content {
        overflow-y: scroll;
        text-align: left;
        height: 100vh; } }
    html .main-content h1 {
      margin: 10px 0px;
      color: #082530;
      animation: change-colors-h1 2s ease-in-out infinite;
      padding: 0.125em 0em;
      font-family: 'Comfortaa';
      font-size: 3em;
      overflow-wrap: break-word;
      line-height: 1.25em;
      font-weight: normal; }
      html .main-content h1 svg {
        animation: change-icon-color 2s ease-in-out infinite; }
    html .main-content h2 {
      margin: 7px 0px;
      color: #1c7ea6;
      font-family: 'Comfortaa';
      font-size: 2em;
      overflow-wrap: break-word;
      line-height: 1.25em;
      font-weight: normal; }
    html .main-content h3 {
      margin: 7px 0px;
      color: #33acdd;
      font-family: 'Comfortaa';
      font-size: 1.75em;
      overflow-wrap: break-word;
      line-height: 1.25em;
      font-weight: normal; }
    html .main-content p {
      margin: 0.5em 0em;
      line-height: 1.35em;
      vertical-align: baseline;
      font-family: 'Comfortaa';
      font-size: 1em;
      overflow-wrap: break-word;
      line-height: 1.25em;
      font-weight: normal; }
    html .main-content ul,
    html .main-content ol {
      margin: 0px;
      padding-left: 20px; }
    html .main-content li {
      margin: 10px 0px; }
    html .main-content img {
      max-width: 100%; }
    html .main-content details summary {
      margin: 0.225em 0em 0.5em 0em;
      cursor: pointer;
      color: #082530;
      text-decoration: none;
      text-align: center;
      display: inline-block;
      border-radius: 3em;
      background-color: #ebd687;
      padding: 0.3em 0.5em;
      margin: 0.225em 0em 0.5em 0em; }
      html .main-content details summary::marker {
        color: #1c7ea6; }
      @media (min-width: 800px) {
        html .main-content details summary {
          text-align: left; } }
    html .main-content details[open] summary {
      background-color: white; }
    html .main-content details:not([open]) summary::before {
      content: 'Show '; }
    html .main-content .ol-attempt {
      list-style: attempt;
      padding-left: 100px; }
@keyframes pulse {
  0% {
    background-color: #1c7ea6; }
  50% {
    background-color: #ebd687; } }
    html .main-content table,
    html .main-content td,
    html .main-content th {
      padding: 20px;
      margin: 20px;
      border: 1px solid black;
      border-collapse: collapse; }
    html .main-content form {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      margin: auto;
      width: 100%; }
      html .main-content form label {
        margin-top: 2%; }
      html .main-content form input,
      html .main-content form button,
      html .main-content form select {
        display: flex;
        padding: 10px;
        border: #98d5ee solid 1px;
        outline: none;
        font-size: medium;
        font-weight: normal;
        font-family: 'Comfortaa';
        font-size: 1em;
        overflow-wrap: break-word;
        line-height: 1.25em;
        font-weight: normal;
        margin-top: 5px; }
      html .main-content form input:focus,
      html .main-content form button:focus,
      html .main-content form select:focus {
        border: #1c7ea6 solid 1px; }
      html .main-content form input[type="submit"] {
        display: block;
        text-align: center;
        margin-top: 18px;
        padding: 10px;
        border: none;
        outline: none;
        background-color: #1c7ea6;
        color: #ecf7fc;
        font-family: 'Comfortaa';
        font-size: 1em;
        overflow-wrap: break-word;
        line-height: 1.25em;
        font-weight: normal; }
        html .main-content form input[type="submit"]:hover {
          font-weight: 900;
          cursor: pointer;
          animation: pulse ease-in-out 1s; }
    html .main-content .container {
      display: flex;
      flex-direction: column;
      padding: 20px;
      margin: 20px 10px;
      background-color: white;
      box-shadow: 0px 0px 5px #98d5ee; }
      html .main-content .container .postWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px;
        align-items: stretch;
        justify-content: space-evenly; }
        @media (min-width: 800px) {
          html .main-content .container .postWrapper {
            justify-content: flex-start; } }
      html .main-content .container a {
        text-decoration: none;
        color: #082530;
        display: inline-block;
        border-radius: 3em;
        background-color: #ebd687;
        padding: 0.2em 0.5em; }
      html .main-content .container a:hover {
        text-decoration: underline; }
      html .main-content .container .warning-container,
      html .main-content .container .normal-container,
      html .main-content .container .error-container,
      html .main-content .container .comment-container,
      html .main-content .container .message-container,
      html .main-content .container .render-markdown,
      html .main-content .container .textarea-container {
        margin-left: 0px;
        margin-right: 0px; }
    html .main-content .normal-container {
      border: none;
      box-shadow: 0px 0px 5px #98d5ee; }
      html .main-content .normal-container h1 {
        animation: none;
        color: #082530; }
      html .main-content .normal-container svg {
        animation: none; }
    html .main-content .warning-container {
      border: 1px solid #ac9647;
      box-shadow: 0px 0px 5px #98d5ee; }
      html .main-content .warning-container svg {
        animation: none; }
      html .main-content .warning-container h1,
      html .main-content .warning-container h2,
      html .main-content .warning-container h3 {
        animation: none;
        color: #ac9647; }
    html .main-content .error-container {
      border: 1px solid #eb879c;
      box-shadow: 0px 0px 5px #98d5ee; }
      html .main-content .error-container svg {
        animation: none; }
      html .main-content .error-container h1 {
        animation: none;
        color: #eb879c; }
    html .main-content .comment-container {
      border-left: 3px solid #33acdd;
      border-right: 3px solid #33acdd;
      background-color: white;
      margin: 0px 0px 15px 0px;
      padding: 15px 15px;
      box-shadow: 0px 0px 5px #98d5ee; }
      html .main-content .comment-container svg {
        animation: none; }
      html .main-content .comment-container:empty {
        display: none; }
      html .main-content .comment-container.teacher {
        border-left: 3px solid #eb879c;
        border-right: 3px solid #eb879c; }
        html .main-content .comment-container.teacher h1.theme {
          color: #eb879c; }
      html .main-content .comment-container h1.theme {
        color: #33acdd;
        font-family: 'Comfortaa';
        font-size: 2em;
        overflow-wrap: break-word;
        line-height: 1.25em;
        font-weight: normal; }
      html .main-content .comment-container h1,
      html .main-content .comment-container h2,
      html .main-content .comment-container h3 {
        animation: none;
        font-family: 'Comfortaa';
        font-size: 1em;
        overflow-wrap: break-word;
        line-height: 1.25em;
        font-weight: normal; }
    html .main-content .message-container {
      border: 1px solid #33acdd;
      box-shadow: 0px 0px 5px #98d5ee; }
      html .main-content .message-container svg {
        animation: none; }
      html .main-content .message-container h1,
      html .main-content .message-container a {
        animation: none;
        color: #33acdd;
        text-decoration: none; }
    html .main-content .render-markdown {
      border: 1px solid #33acdd;
      box-shadow: 0px 0px 5px #98d5ee;
      background-color: white;
      max-height: 500px;
      overflow: auto; }
      html .main-content .render-markdown:empty {
        display: none; }
      html .main-content .render-markdown h1 {
        animation: none;
        color: #082530; }
      html .main-content .render-markdown svg {
        animation: none; }
    html .main-content .textarea-container {
      flex: 1 1 auto;
      background-color: #ebd687;
      border: 1px solid #98d5ee;
      padding: 20px;
      overflow-wrap: break-word;
      margin: 5px 0px; }
      html .main-content .textarea-container h1 {
        animation: none; }
      html .main-content .textarea-container:empty {
        background-color: silver; }
      html .main-content .textarea-container svg {
        animation: none; }
    html .main-content .iframe {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      margin: auto;
      overflow: auto; }
      html .main-content .iframe iframe {
        min-height: 480px;
        border: none;
        outline: none; }

/*# sourceMappingURL=diems_styles.css.map */
