// Colors
// Reference: https://www.colorhexa.com/87ceeb
$lightestColor: #ecf7fc;
$lighterColor: #98d5ee;
$normalColor: #33acdd;
$darkerColor: #1c7ea6;
$linkColor: #135873;
$darkestColor: #082530;
$errorColor: #eb879c;
$warningColor: #ebd687;

// Scale
$borderWidth: 3px;
$borderRadius: 5px;

@mixin background_html($URL : url(https://d1hbpr09pwz0sk.cloudfront.net/logo_url/deogiri-institute-of-engineering-and-management-studies-7a4aae5c)) {
    background-image: $URL;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    opacity: 80%;
}

@mixin default_font($SIZE: 18px) {
    font-family: 'Comfortaa';
    font-size: $SIZE;
    overflow-wrap: break-word;
    font-weight: normal;
}

html {
    @include default_font;
    min-height: 100vh;

    // filter: sepia() opacity(70%);
    .background-image {
        @include background_html;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    body {
        display: flex;
        flex-direction: row;
        margin: 0px;
        height: 100vh;
        overflow-y: hidden;
    }

    .side-bar {
        display: flex;
        flex-direction: column;
        background-color: $darkestColor;
        opacity: 85%;
        flex-basis: 250px;
        flex-shrink: 0;
        flex-grow: 0;
        padding: 20px;
        color: $lighterColor;
        overflow-y: scroll;
        height: auto;

        h1 {
            margin: 0px;
            padding: 0px;
            @include default_font(54px);
        }

        h2 {
            margin: 0px;
            padding: 0px;
            @include default_font(20px);
            color: $lightestColor;
        }

        a {
            margin: 0px;
            color: $lighterColor;
            text-decoration: none;
            font-size: 18px;
        }

        a:hover {
            color: $lightestColor;
        }

        p {
            margin: 0px;
            padding: 0px;
            font-size: 18px;
            color: $lightestColor;
            line-height: 21px;
        }

        u {
            color: $lighterColor;
            text-decoration: none;
            border-bottom: dotted 1px;
        }

        hr {
            border-color: $lighterColor;
        }

        .side-bar-foot {
            opacity: 50%;
        }
    }

    .main-content {
        flex-shrink: 1;
        flex-grow: 1;
        overflow-y: scroll;
        height: 100vh;
        opacity: 100%;

        h1 {
            margin: 10px 0px;
            color: $darkestColor;
            @include default_font(55px);
        }

        h2 {
            margin: 7px 0px;
            color: $darkerColor;
            @include default_font(40px);
        }

        h3 {
            margin: 7px 0px;
            color: $normalColor;
            @include default_font(30px);
        }

        p {
            margin: 5px 0px;
            @include default_font;
        }

        ul,
        ol {
            margin: 0px;
            padding-left: 20px;
        }

        li {
            margin: 10px 0px;

        }

        img {
            max-width: 100%;
        }

        details {
            summary {
                cursor: pointer;

                &::marker {
                    color: $darkerColor;
                }
            }

            .ol-attempt {
                counter-reset: item;
                list-style-type: none;

                summary::before {
                    content: 'Attempt ' counter(item, decimal) ' on ' !important;
                    counter-increment: item;
                    color: $darkerColor;
                }
            }

            &[open] {
                summary::before {
                    content: 'Hide ';
                }
            }

            &:not([open]) {
                summary::before {
                    content: 'Show ';
                }
            }
        }

        button,
        input[type="submit"] {
            display: block;
            background-color: $darkerColor;
            color: $lightestColor;
            outline: none;
            border: none;
            padding: 10px;
            font-size: medium;
            margin: 5px;
            border-radius: $borderRadius;
        }

        button:hover,
        input[type="submit"]:hover {
            font-weight: 900;
            cursor: pointer;
            animation: pulse ease-in-out 1s;
        }

        @keyframes pulse {
            0% {
                background-color: $darkerColor;
            }

            50% {
                background-color: $warningColor;

            }

            100% {
                background-color: $darkerColor;
            }
        }

        table,
        td,
        th {
            padding: 20px;
            margin: 20px;
            border: 1px solid black;
            border-collapse: collapse;
        }

        .formWrapper {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            margin: auto;
            width: 75%;
        }

        .fieldWrapper {
            display: flex;
            align-items: stretch;
            flex-wrap: nowrap;
            flex-direction: column;
            width: 100%;

            label {
                display: flex;
                margin-top: 2%;
                width: 100%;
            }

            input,
            button,
            select {
                display: flex;
                color: $darkestColor;
                border: none;
                background-color: $lightestColor;
                border-radius: $borderRadius;
                border-bottom: $darkerColor solid 3px;
                padding: 10px;
                outline: none;
                font-size: medium;
                font-weight: normal;
                margin: 5px;
            }

            input:focus,
            button:focus,
            select:focus {
                background-color: white;
                font-weight: bold;
                border-bottom-color: $darkestColor;
            }

            input:hover,
            button:hover,
            select:hover {
                background-color: white;

            }
        }

        .submitWrapper {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            margin-top: 2%;
        }

        .container {
            display: flex;
            flex-direction: column;
            margin: auto;
            opacity: 90%;
            width: 90%;
            padding: 20px;
            border-radius: $borderRadius;
            background-color: $lightestColor;

            .postWrapper {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 10px;
                align-items: stretch;
            }

            .post {
                flex: 0 1 250px;
                margin: 10px;
                padding: 10px;
                border-radius: $borderRadius;
                border: 1px $darkerColor solid;
                background-color: white;
            }

            a {
                text-decoration: none;
                color: $linkColor;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        .normal-container {
            border: none;

            h1 {
                color: $darkestColor;
            }
        }

        .warning-container {
            border: 1px solid $warningColor;

            h1 {
                color: $warningColor;
            }
        }

        .error-container {
            border: 1px solid $errorColor;

            h1 {
                color: $errorColor;
            }
        }

        .comment-container {
            border-left: 3px solid $normalColor;
            margin: 10px auto;
            background-color: white;

            &:empty {
                display: none;
            }

            &.teacher {
                border-left: 3px solid $errorColor;

                h1.theme {
                    color: $errorColor;
                }

            }

            h1.theme {
                color: $normalColor;
                @include default_font(36px)
            }

            h1,
            h2,
            h3 {
                @include default_font(18px)
            }
        }

        .message-container {
            border: 1px solid $normalColor;

            h1,
            a {
                color: $normalColor;
                text-decoration: none;
            }

        }

        .render-markdown {
            border: 1px solid $normalColor;
            background-color: white;
            max-height: 500px;
            overflow: auto;
            margin: 10px auto;

            &:empty {
                display: none;
            }

            h1 {
                color: $darkestColor;
            }
        }

        .textarea-container {
            background-color: $warningColor;
            border-radius: $borderRadius;
            border: 1px solid $normalColor;
            padding: 20px;
            overflow-wrap: break-word;
            max-height: 500px;
            overflow: auto;
            margin: 10px auto;

            &:empty {
                visibility: hidden;
                padding: 0px;
                margin: 0px;
            }
        }


    }


}