// Colors
// Reference: https://www.colorhexa.com/87ceeb
$lightestColor: #ecf7fc;
$lighterColor: #98d5ee;
$normalColor: #33acdd;
$darkerColor: #1c7ea6;
$linkColor: #135873;
$darkestColor: #082530;
$errorColor: #eb879c;
$warningColor: #ebd687;
$warningColorDark: #ac9647;

// Scale
$borderWidth: 3px;
$borderRadius: 5px;
$LaptopBreakPoint: 800px;

@mixin background_html($URL : url(https://d1hbpr09pwz0sk.cloudfront.net/logo_url/deogiri-institute-of-engineering-and-management-studies-7a4aae5c)) {
    background-image: $URL;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    opacity: 80%;
}

@mixin default_font($SIZE: 18px) {
    font-family: 'Comfortaa';
    font-size: $SIZE;
    overflow-wrap: break-word;
    font-weight: normal;
}

@counter-style attempt {
    system: numeric;
    symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
    prefix: "Attempt ";
}


html {
    @include default_font;
    min-height: 100vh;

    // filter: sepia() opacity(70%);


    body {
        display: flex;
        flex-direction: column;
        margin: 0px;
        overflow-y: scroll;

        @media (min-width: $LaptopBreakPoint) {
            height: 100vh;
            flex-direction: row;
            overflow-y: hidden;
        }

        .background-image {
            @include background_html;
            position: fixed;
            height: 100%;
            width: 100%;
        }
    }

    .side-bar {
        display: flex;
        opacity: 85%;
        padding: 20px;
        color: $lighterColor;
        flex: 0 0 250px;
        flex-direction: column;
        background-color: $darkestColor;

        @media (min-width: $LaptopBreakPoint) {
            height: auto;
            overflow-y: scroll;
        }

        h1 {
            margin: 0px;
            padding: 0px;
            @include default_font(54px);
            text-align: center;

            @media (min-width: $LaptopBreakPoint) {
                text-align: left;
            }

        }

        h2 {
            margin: 0px;
            padding: 0px;
            color: $lightestColor;
            text-align: center;
            line-height: 25px;
            @include default_font(20px);

            @media (min-width: $LaptopBreakPoint) {
                text-align: left;
            }
        }

        a {
            margin: 0px;
            color: $lighterColor;
            text-decoration: none;
            font-size: 18px;
        }

        a:hover {
            color: $lightestColor;
        }

        p {
            margin: 0px;
            padding: 0px;
            font-size: 18px;
            color: $lightestColor;
            text-align: center;
            line-height: 21px;

            @media (min-width: $LaptopBreakPoint) {
                text-align: left;
            }

        }

        u {
            color: $lighterColor;
            text-decoration: none;
            border-bottom: dotted 1px;
        }

        hr {
            border-color: $lighterColor;
        }

        .inline {
            display: flex;
            align-items: center;
            justify-content: center;

            @media (min-width: $LaptopBreakPoint) {
                justify-content: flex-start;
            }

            color: white;
        }

        details {
            text-align: center;

            &.for-laptop-only {
                display: none;
            }

            &.for-mobile-only {
                display: block;
            }

            @media (min-width: $LaptopBreakPoint) {
                text-align: left;

                &.for-laptop-only {
                    display: block;
                }

                &.for-mobile-only {
                    display: none;
                }
            }
        }

        .side-bar-foot {
            opacity: 50%;
        }
    }

    .main-content {
        flex: 1 1 auto;
        opacity: 100%;
        text-align: center;

        @media (min-width: $LaptopBreakPoint) {
            overflow-y: scroll;
            text-align: left;
            height: 100vh;
        }

        h1 {
            margin: 10px 0px;
            color: $darkestColor;
            @include default_font(45px);
        }

        h2 {
            margin: 7px 0px;
            color: $darkerColor;
            @include default_font(36px);
        }

        h3 {
            margin: 7px 0px;
            color: $normalColor;
            @include default_font(30px);
        }

        p {
            margin: 5px 0px;
            @include default_font;
        }

        ul,
        ol {
            margin: 0px;
            padding-left: 20px;
        }

        li {
            margin: 10px 0px;

        }

        img {
            max-width: 100%;
        }

        details {
            summary {
                cursor: pointer;

                &::marker {
                    color: $darkerColor;
                }
            }

            &[open] {
                summary::before {
                    content: 'Hide ';
                }
            }

            &:not([open]) {
                summary::before {
                    content: 'Show ';
                }
            }
        }

        .ol-attempt {
            list-style: attempt;
            padding-left: 100px;
        }

        @keyframes pulse {
            0% {
                background-color: $darkerColor;
            }

            50% {
                background-color: $warningColor;

            }

            100% {
                background-color: $darkerColor;
            }
        }

        table,
        td,
        th {
            padding: 20px;
            margin: 20px;
            border: 1px solid black;
            border-collapse: collapse;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            margin: auto;
            width: 100%;

            label {
                margin-top: 2%;
            }

            input,
            button,
            select {
                display: flex;
                padding: 10px;
                border: $lighterColor solid 1px;
                outline: none;
                font-size: medium;
                font-weight: normal;
                @include default_font(20px);
                margin-top: 5px;
            }

            input:focus,
            button:focus,
            select:focus {
                border: $darkerColor solid 1px;
            }

            input[type="submit"] {
                display: block;
                text-align: center;
                margin-top: 18px;
                padding: 10px;
                border: none;
                outline: none;
                background-color: $darkerColor;
                color: $lightestColor;
                @include default_font(20px);

                &:hover {
                    font-weight: 900;
                    cursor: pointer;
                    animation: pulse ease-in-out 1s;

                }

            }
        }

        .container {
            display: flex;
            flex-direction: column;
            opacity: 90%;
            padding: 20px;
            margin: 10px;
            background-color: $lightestColor;

            .postWrapper {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 10px;
                align-items: stretch;
                justify-content: space-evenly;

                @media (min-width:$LaptopBreakPoint) {
                    justify-content: flex-start;
                }
            }

            .post {
                display: flex;
                border: 1px $lighterColor solid;
                background-color: white;
                overflow-x: auto;

                div.icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 1 1 0;
                    height: auto;
                    background-color: $normalColor;
                    color: white;
                }

                div.title {
                    padding: 10px;
                    flex: 2 1 0;
                    background-color: $normalColor;

                    h3 {
                        color: white;
                    }

                    a {
                        color: white;
                    }
                }

                div.description {
                    padding: 10px;
                    flex: 10 0 0;
                }
            }

            a {
                text-decoration: none;
                color: $linkColor;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        .normal-container {
            border: none;

            h1 {
                color: $darkestColor;
            }
        }

        .warning-container {
            border: 1px solid $warningColorDark;

            h1 {
                color: $warningColorDark;
            }
        }

        .error-container {
            border: 1px solid $errorColor;

            h1 {
                color: $errorColor;
            }
        }

        .comment-container {
            border-left: 3px solid $normalColor;
            border-right: 3px solid $normalColor;
            background-color: white;

            &:empty {
                display: none;
            }

            &.teacher {
                border-left: 3px solid $errorColor;
                border-right: 3px solid $errorColor;

                h1.theme {
                    color: $errorColor;
                }

            }

            h1.theme {
                color: $normalColor;
                @include default_font(36px)
            }

            h1,
            h2,
            h3 {
                @include default_font(18px)
            }
        }

        .message-container {
            border: 1px solid $normalColor;

            h1,
            a {
                color: $normalColor;
                text-decoration: none;
            }

        }

        .render-markdown {
            border: 1px solid $normalColor;
            background-color: white;
            max-height: 500px;
            overflow: auto;

            &:empty {
                display: none;
            }

            h1 {
                color: $darkestColor;
            }
        }

        .textarea-container {
            flex: 1 1 auto;
            background-color: $warningColor;
            border: 1px solid $lighterColor;
            padding: 20px;
            overflow-wrap: break-word;

            &:empty {
                visibility: hidden;
                padding: 0px;
                margin: 0px;
            }
        }


    }


}